/* Created by: Julienka Sohal
* Created on: Nov 2022
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__label {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: rgb(212, 155, 232);
}

p {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 15pt;
}

img {
  float: right;
}

.font {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  color: black;
}

.solid {
  border-style: solid;
  border-color: #e8788e;
}

.float-parent-element {
  width: 50%;
}

.float-child-element {
  float: right;
  width: 50%;
}
